body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#loginContainer {
    margin-top: 50px;
}

input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 200px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

#loginMessage {
    color: red;
}
